.NavContainer {
    background-color: #f0faff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.NavContainer h2 {
    font-size: 36px;
    margin-right: auto;
}
